<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./static/login/style.css">
        <script src="./static/login/script.js" defer></script>
    </head>
    <body>
        <div id="loginDiv">
            <h1>Enter Password</h1>
            <div id="LoginForm">
                <form action="/chat" method="post">
                    <input id="login" autocomplete="off" name="password">
                </form>
            </div>
        </div>
    </body>
</html>